@model MagisterWeb.Models.Matricula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disciplina.NomeDisc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.NomeDisc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeriodoLetivo.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeriodoLetivo.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nota3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nota3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faltas1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faltas1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faltas2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faltas2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faltas3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faltas3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { ano = Model.Ano, semestre = Model.Semestre }) |
    @Html.ActionLink("Back to List", "Index")
</p>
