@model IEnumerable<MagisterWeb.Models.Matricula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disciplina.NomeDisc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodoLetivo.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nota3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faltas1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faltas2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faltas3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplina.NomeDisc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoLetivo.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nota3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faltas1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faltas2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faltas3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ano = item.Ano, semestre = item.Semestre}) |
            @Html.ActionLink("Details", "Details", new { ano = item.Ano, semestre = item.Semestre }) |
            @Html.ActionLink("Delete", "Delete", new { ano = item.Ano, semestre = item.Semestre })
        </td>
    </tr>
}

</table>
