@model MagisterWeb.Models.PeriodoLetivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PeriodoLetivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataIni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataIni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { ano = item.Ano, semestre = item.Semestre }) |
    @Html.ActionLink("Back to List", "Index")
</p>
