@model IEnumerable<MagisterWeb.Models.Turma>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Disciplina.NomeDisc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodoLetivo.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vagas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor.NomProf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodTurma)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplina.NomeDisc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodoLetivo.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vagas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.NomProf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodTurma)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { ano = item.Ano, semestre = item.Semestre }) |
            @Html.ActionLink("Details", "Details", new { ano = item.Ano, semestre = item.Semestre }) |
            @Html.ActionLink("Delete", "Delete", new { ano = item.Ano, semestre = item.Semestre })
        </td>
    </tr>
    }

</table>
